body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  font-size: 1.2rem;
}
.row{
  display: flex;
  justify-content: space-between;
}
.col-1{
  flex:1;
}
.col-2{
  flex: 2;
}
.block{
  background-color: rgb(221, 212, 212);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.items{
  padding: 2px;
  margin: 2px;
  background-color: rgb(245, 237, 237);
}
.items{
  
  padding: 2px;
  margin: 2px;
}
.small{
  max-width: 1rem;
}
.item{
  border: 1px;
  background-color: rgb(209, 199, 199);
  padding: 10px;
  margin: 10px;
  width: 30%;
}
.data{
  display: flex;
}
button{
  width: 30px;
  height: 30px;
padding: 10px;
margin: 10px;
}